$hamburgerColor: #e9eae2;
$hamburgerColorActive: #f8c255;

.hamburger {
  background: none;
  display: block;
  cursor: pointer;
  border: 3px solid $hamburgerColor;
  transition: border-color .3s ease-in-out;

  &:hover,
  &:active {
    border-color: $hamburgerColorActive;

    .hamburger__element {
      background-color: $hamburgerColorActive;

      &::after,
      &::before {
        background-color: $hamburgerColorActive;
      }
    }
  }

  &:focus {
    border-color: $hamburgerColorActive;
  }

  &--active {
    position: relative;
    z-index: 1;
    border-color: $hamburgerColorActive;

    &:hover,
    &:active {
      border-color: $hamburgerColorActive;

      .hamburger__element {
        background-color: $hamburgerColorActive;

        &::after,
        &::before {
          background-color: $hamburgerColorActive;
        }
      }
    }

    .hamburger__element {
      transform: rotate(45deg);
      position: relative;
      z-index: 1;

      &::after {
        transform: rotate(-90deg);
      }

      &::before {
        display: none;
      }
    }
  }

  &__element {
    width: 40px;
    height: 3px;
    background-color: $hamburgerColor;
    display: block;
    margin: 0 auto;
    transition: background-color .3s ease-in-out;

    &::after,
    &::before {
      content: '';
      width: 40px;
      height: 3px;
      background-color: $hamburgerColor;
      display: block;
      margin: 0 auto;
      transition: background-color .3s ease-in-out;
    }

    &::after {
      transform: translateY(4px);
    }

    &::before {
      transform: translateY(-7px);
    }
  }
}